<% posts.each do |post| %>
  <div class="post">
    <div>
      <span class="title">
        <%=h post.title %> -
      </span>
      <span class="date">
        <%=h post.created_at.strftime("%d/%m/%Y") %>
      </span>
    </div>
    
    <div class="content"><%= truncate(strip_html(post.content), :length => text_length) %></div>
    <div class="more">
      <%= link_to 'Ler mais', :controller => :site, :action => :show_post, :post_id => post.id %>
    </div> 
  </div>
<% end %>
<div style="clear: both"></div>
