<h1><%= t('band_manager.site.session.news.title')%></h1>

<%= render :partial => 'posts_list', :locals => {
    :posts => @posts, 
    :text_length => 500
  } 
%>

<%= will_paginate @posts %>

<div class="voltar" >
  <%= link_to t('band_manager.site.back'), 
      { :controller => :site, :action => :index, :locale => params[:locale] }, 
      :class => 'all back_icon' %>
</div>

