<div>
  <%= render :partial => 'admin/concerts/concert', 
      :locals => {
        :band => @band, 
        :concert => @concert, 
        :truncate => false
      } 
  %>
</div>

<div class="voltar" >
  <%= link_to t('band_manager.site.back'), 
  { :controller => :site, 
    :action => :index, 
    :anchor => 'concerts'
  }, 
    :class => 'all back_icon' %> | 
    
  <%= link_to t('band_manager.site.session.concerts.all'), { :controller => :site, :action => :concerts }, :class => 'all concerts_icon' %>
</div>
