<%= corner "content" %>

<h1>Editar <%= @song.title %></h1>

<div id="content" class="content">
  <%= render :partial => 'songs/form' %>
</div>

<br/>

<div class="opcoes centro">
  <%= link_to 'Voltar', band_path(@band, :anchor => 'releases') %>
</div>
