<%= corner "content" %>

<h1>Editar Banda</h1>

<div id="content" class="content">
  <%= render :partial => 'form' %>
  
  <div class="opcoes">
    <%= link_to 'Detalhar', @band %>
  </div>
</div>

<br/>

<div class="opcoes centro">
  <%= link_to 'Voltar', bands_path %>
</div>
