<%= corner "content" %>

<h1>Nova Banda</h1>

<div id="content" class="content">
  <%= render :partial => 'bands/form' %>
</div>

<br/>

<div class="opcoes centro">
  <%= link_to 'Voltar', bands_path %>
</div>
