<% if concerts and concerts.size > 0 %>
  <% concerts.each do |concert| %>
    <%= render :partial => 'concerts/concert', 
          :locals => {
            :band => band, 
            :concert => concert, 
            :truncate => true
          } 
    %>
  <% end %>
  <div style="clear: both;"></div>
<% else %>
  <center>
    <em>Nenhum show cadastrado</em>
  </center>
<% end %>

