<%= corner "content" %>

<h1>Editar Banda</h1>

<div id="content" class="content">
  <%= render :partial => 'form' %>

  <br/>
  
  <div class="opcoes">
    <%= link_to 'Detalhar', admin_band_path(@band) %>
  </div>
</div>

<br/>

<div class="opcoes centro">
  <%= link_to 'Voltar', admin_band_path(@band, :anchor => 'band_info') %>
</div>
