<%= mask(:time => "99:99") %>
<%= filter(:track_number => :digit) %>

<% form_for([:admin, @band, @release, @song], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td colspan="2">
        <%= field_label "song.title" %><br />
        <%= f.text_field :title, :size => 30, :style => "width: 82%;" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= field_label "song.track_number" %><br />
        <%= f.text_field :track_number, :size =>10, :maxlength => 2, :class => "mask-num" %>
      </td>
      <td>
        <%= field_label "song.time" %><br />
        <%= f.text_field :time, :size =>10, :maxlength => 5, :id => "time" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "song.lyrics" %><br />
        <%= f.text_area :lyrics, :cols => 45 %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= field_label "song.audio" %><br />
        <%= f.file_field :audio %>
         | 
        <% if @song.audio.exists? %>
          <%= link_to 'Baixar música', @song.audio.url %>
        <% else %>
          <em>Nenhum arquivo de áudio adicionado</em>
        <% end %>
      </td>
    </tr>
  </table>

  <br />
  <%= f.submit 'Salvar' %>
<% end %>
