/* POST */

.posts_icon {
  background: url('images/news_16.png') no-repeat right;
}

.post {
  padding: 5px;
  border-bottom: 1px solid #FABE3D;
}


.post .title {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.post .date {
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}

.post .content {
  background:transparent;
  font-size: 11px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post .more {
  font-size: 11px;
  text-align: right;
}

