@import url("../pagination.css");
@import url("post.css");
@import url("concert.css");

body {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  background: url('../images/img01.jpg') center top fixed;
  font-size: 12px;
  font-family: arial, helvetica, verdana, sans-serif;
  color: #94877A;
}

body a:link, a:visited, a:active {
  color: #94877A;
  font-weight: bold;
}

body a:hover {
  color: #D53707;
}

#main {
  width: 876px;
  margin: auto;
  padding: 0px;
}

#main #header #logo{
  margin: auto;
  background: url('images/logo.png') center top no-repeat;
  text-align: center;
  width: 650px;
  height: 400px;
}

#main #header #topo{
  margin: auto;
  background: url('../images/img02.jpg') center;
  text-align: center;
  height: 159px;
}


#languages {
  text-align: right;
  padding: 5px;
}

#preview {
  margin-top: -5px;
  padding: 15px;
  background-color: #E8DB51;
  color: black;
  font-size: 13px;
  border-bottom: 2px solid #A48710;
  position: fixed;
  width: 100%;
}

#preview a {
  color: black;
}

#preview textarea{
  margin: 10px;
  width: 50%;
  height: 100px;
}

#preview_tab {
  background-color: #E8DB51;
  color: black;
  margin-top: -5px;
  position: fixed;
  display: none;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.portuguese {
  padding-left: 20px;
  background: url('images/brazil_16.png') left no-repeat;
}

.spannish {
  padding-left: 20px;
  background: url('images/spain_16.png') left no-repeat;
}

.english {
  padding-left: 20px;
  background: url('images/uk_16.png') left no-repeat;
}

#footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border-top: 1px solid #D53707;
}

h1 {
  border-bottom: 2px solid #FABE3D;
}

object {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.column_right {
  width: 49.7%; 
  float: right; 
  margin-top: 3px; 
  padding-left:2px;
}

.column_left {
  width: 49.7%; 
  float: right; 
  margin-top: 3px; 
  padding-right:2px; 
}

.session h1 {
  background: #D63F11;
  color: black;
  font-size: 16px;
  padding: 2px;
  margin-top: 0px;
  border: #D53707;
}


.all {
  padding-right: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.voltar {
  text-align: center;
  font-size: 12px;
  margin: 60px;
  clear: both;
}

.back_icon {
  text-align: left;
  background: url('images/back_16.png') no-repeat;
  padding: 0px;
  padding-left: 20px;
}

.more a {
  text-decoration: none;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
}

.linkable {
  cursor: pointer;
  text-decoration: underline;
}

/* CONTACTS */

.contacts table {
  width: 100%;
}

.contacts b {
  color: white;
}

/* ABOUT */

#about {
  text-align: justify;
}

#about .content {
  padding: 0px;
}


/* RELEASE */

.lancamento {
  border-bottom: 1px solid #FABE3D;
  padding-top: 10px;
}

.lancamento img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.lancamento .title {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}


/* SONGS */

.musicas {
  margin-top: 20px;
  display: none;
}

.musicas ul {
  margin-left: 0px;
  padding: 0px;
}









