@import url("../pagination.css");
@import url("post.css");
@import url("concert.css");

body {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  background: url('images/background_site.jpg') center top fixed;
  font-size: 12px;
  font-family: arial, helvetica, verdana, sans-serif;
  color: #FABE3D;
}

body a:link, a:visited, a:active {
  color: #FFC600;
  font-weight: bold;
}

body a:hover {
  color: #8C7ECA;
}

#main {
  width: 830px;
  margin: auto;
}

#main #header #logo{
  margin: auto;
  background: url('images/logo.png') center top no-repeat;
  text-align: center;
  width: 650px;
  height: 400px;
}

#languages {
  text-align: right;
}

.portuguese {
  padding-left: 20px;
  background: url('images/brazil_16.png') left no-repeat;
}

.spannish {
  padding-left: 20px;
  background: url('images/spain_16.png') left no-repeat;
}

.english {
  padding-left: 20px;
  background: url('images/uk_16.png') left no-repeat;
}

#footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border-top: 1px solid #FABE3D;
}

h1 {
  border-bottom: 2px solid #FABE3D;
}

object {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.session {
  float: right;
  width: 49%;
  margin: 3px;
}

.session h1 {
  background: #FABE3D;
  color: #211939;
  font-size: 16px;
  padding: 2px;
  margin-top: 0px;
}


.all {
  padding-right: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.right {
  text-align: right;
}

.voltar {
  text-align: center;
  font-size: 12px;
  margin: 60px;
  clear: both;
}

.back_icon {
  text-align: left;
  background: url('images/back_16.png') no-repeat;
  padding: 0px;
  padding-left: 20px;
}

.more a {
  text-decoration: none;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
}

.linkable {
  cursor: pointer;
  text-decoration: underline;
}

/* ABOUT */

#about {
  text-align: justify;
}

#about .content {
  padding: 4px;
}


/* RELEASE */

.lancamento {
  border-bottom: 1px solid #FABE3D;
  padding-top: 10px;
}

.lancamento img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.lancamento .title {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}


/* SONGS */

.musicas {
  margin-top: 20px;
  display: none;
}

.musicas ul {
  margin-left: 0px;
  padding: 0px;
}

